
page-log-in{
    ion-content{
     background: url("../../assets/imgs/1.jpg");
    }


    .text-input::-moz-placeholder {
        color: white;
        }
    .button{
        background-color: rgba(207, 153, 186, 0.1);

    }
    .background1{
        background-color: rgba(207, 153, 186, 0.1);
       

    }
    ion-header {
        .toolbar-background {

           
            align-items: center;
        }
    }
    
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .input{
        background-color: rgba(207, 153, 186, 0.1);
        color: white;

      }
}